logger:
  level: "debug"
    
polling:
  block_interval_milliseconds: 1000
  height_interval_milliseconds: 1000

blockchain:
  seed_block_number: 865177
  
database:
  file: "dev/data/bitcoin-block-processor/bitcoin-block-processor.db"

kafka:
  broker: "kafka:9092"
  topic: "bitcoin-blocks"

connection:
  rpc_url: "https://svc.blockdaemon.com/bitcoin/mainnet/native/"
  api_key: ""

http:
  max_retry_on_error: 10
  retry_delay_milliseconds: 500
  report_retry_attempts: false  