logger:
  level: "debug"

polling:
  block_interval_milliseconds: 1000
  height_interval_milliseconds: 1000

blockchain:
  seed_block_number: 274162035
  
database:
  file: "dev/data/solana-block-processor/solana-block-processor.db"

kafka:
  broker: "kafka:9092"
  topic: "solana-blocks"

connection:
  rpc_url: "https://svc.blockdaemon.com/solana/mainnet/native/"
  api_key: ""

http:
  max_retry_on_error: 10
  retry_delay_milliseconds: 500
  report_retry_attempts: false  