logger:
  level: "debug"
  
kafka:
  broker: "kafka:9092"
  block_topic: "solana-blocks"
  block_consumer_group: "solana-block-consumer"
  transaction_topic: "solana-transactions"

connection:
  rpc_url: "https://svc.blockdaemon.com/solana/mainnet/native/"
  api_key: ""

worker:
  total: 4
 
http:
  max_retry_on_error: 5
  retry_delay_milliseconds: 1000  